body {
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 5px;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    border: 2px solid;
    font-size: 1em;
}